<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera vista</title>
</head>
<body>
    <h1>Cualquier cosa, otra vez</h1>

    <% for(let i = 0;
    i < nombres.length; i++) { %>

        <p><%- nombres[i] %></p>

    <% } %>
</body>
</html>