* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-weight: normal;
    font-size: 10em;
    color: white;
    text-shadow: 2px 2px 0 black;
}